.results{
    width: 50vw;
    height: 28rem;
    padding: 1em 0 1em 0;
    /* background-color: aqua; */
    overflow-x: auto;
    min-width: 682px;
}

.weatherContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 133rem;
}


@media only screen and (max-width: 600px){
    .results{
        width: 50vw;
        height: 28rem;
        padding: 1em 0 1em 0;
        /* background-color: aqua; */
        overflow-x: auto;
        min-width: 100vw;
    }
}