.weatherCard{
    background-color: white;
    width: 15vw;
    min-width: 246px;
    height: 17rem;
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 10px;
    padding: 1rem;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    border-radius: 3vh;
    transition: padding 0.3s, box-shadow 0.3s;
    cursor: default;
}

.weatherCard:hover {
    padding: 3rem;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

.temperatureContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphicContainer{
    display: flex;
    flex-direction: column;
}

.dateContainer{
    color: #53627c
    /* color: #1e2432; */
}

.dateContainer, h1{
    font-weight: bold;
    margin: 0;
}

.date{
    font-weight: normal;
    font-size: 1rem;
}

.city{
    color: #53627c;
    margin: 0;
}

.weather{
    color: #53627c;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.temperature{
    font-weight: bold;
    color: #1e2432;
    font-size: 5rem;
    margin: 0;
}

.icon{
    font-size: 3px;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -1em;
    font-weight: normal;
    font-size: 2rem;
  }