.searchBar{
    width: 50vw;
    height: 20vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 29vw;
    height: 7vh;
    font-family: "FontAwesome";
    font-size: 33px;
    border-radius: 25px;
    border-width: 0px;
    padding-left: 9px;
    outline: none;
}
