.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font: 1rem/1.3 "Roboto", sans-serif;
  background-color: #0a1f44;
  min-width: 682px;
}

.appTitle{
  font-weight: bold;
  font-size: 4rem;
  color: white;
  margin-bottom: 0;
  min-width: 619px;
}

@media only screen and (max-width: 600px){
  .App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font: 1rem/1.3 "Roboto", sans-serif;
    background-color: #0a1f44;
    min-width: 100vw;
  }

  .appTitle{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    /* margin-bottom: 0; */
    min-width: 312px;
  }
}

::selection {
  color: none;
  background: none;
}
::-moz-selection {
  color: none;
  background: none;
}